
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=M+PLUS+1:wght@400;900&family=Qahiri&family=Raleway:wght@100&family=Roboto+Mono:wght@300&display=swap');


*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  background: linear-gradient(0.9turn, #DDEEF5, #FFFADE);}

.trainer_grid_container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 20px;
  gap: 10px;
}

.trainer_card_grid_item{
  border: 1px solid purple;
  text-align: center;
  border-radius:2em;
}

.title_container{
  padding: 20px;
  text-align: center;
  align-content: center;
  width: 400px;
  display: inline-block;
}

.bio_container{
  padding: 10px;
}

.classContainer{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  font-size: 15px;
  text-align: left;
  padding: 3rem
}
.singleClass{
  border: 1px solid purple;
  text-align: left;
  border-radius:2em;
}


.login_form_container input[type=text]{
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117, 0.2);
  border-radius:10px;
  margin-left: auto;
  margin-right:auto;
  
}


input[type=submit] {
  padding:10px;
  border:none;
  background-color:#281940;
  color:#FFFADE;
  font-weight:600;
  border-radius:5px;
  margin-left: auto;
  margin-right:auto;
}

.sign_up_form_container input[type=text]{
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117,.2); 
  border-radius:10px;
  margin-left: auto;
  margin-right:auto;
}
.sign_up_form_container input[type=date]{
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117,.2); 
  border-radius:10px;
  margin-left: auto;
  margin-right:auto;
}


input[type=password]{
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117,.2); 
  border-radius:10px;
  margin-left: auto;
  margin-right:auto;
}

.sign_up_form_container input[type=submit] {
  padding:10px;
  border:none;
  background-color:#281940;
  color:#FFFADE;
  font-weight:600;
  border-radius:5px;
  cursor: pointer;

}
.ClassInfo button {
  padding:10px;
  border:none;
  background-color:#B0A8B9;
  color:#FFFADE;
  font-weight:600;
  border-radius:5px;
  cursor: pointer;

}

.NavBar button {
  padding:10px;
  border:none;
  background-color:#B0A8B9;
  color:#FFFADE;
  font-weight:600;
  border-radius:5px;
  cursor: pointer;
}

.NavBar{
  text-align: center;
  
}

.link_container Link {
  padding: 100px;
}

.welcome {
  font-size: 30px;
  font-weight: 600;
  color: #b299cf
}
.UpcomingClassContainer{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  font-size: 15px;
  text-align: left;
  padding: 3rem
}
.prviateClass {
  border: 1px solid purple;
  text-align: left;
  border-radius:2em;
}

select {
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117,.2); 
  border-radius:10px;
  margin-left: auto;
  margin-right:auto;
}
input[type=text]{
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117,.2); 
  border-radius:10px;
  margin-left: auto;
  margin-right:auto;
}
.scheduleClass input[type=text]{
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117,.2); 
  border-radius:10px;
  width: 800px; 
  margin-left: auto;
  margin-right:auto;
}

input[type='datetime-local']{
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117,.2); 
  border-radius:10px;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  display: center;
}
input[type=number]{
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117,.2); 
  border-radius:10px;
  margin-left: auto;
  margin-right:auto;
}
.ClassInfo button{
  padding:10px;
  border:none;
  background-color:#B0A8B9;
  color:#FFFADE;
  font-weight:600;
  border-radius:5px;
  cursor: pointer;
  margin-left: 10px;
  margin-right:auto;
  margin-bottom: 10px;

}
label, input {
  display: block;
  
}

label {
  margin-bottom: 10px;
  text-align: center;
}