*, *:before, *:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Tahoma, sans-serif; 
  background: linear-gradient(0.9turn, #DDEEF5, #FFFADE);}

.trainer_grid_container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 20px;
}

.trainer_card_grid_item{
  border: 1px solid black;
  box-shadow: 5px 10px #888888;
   
}

.title_container{
  padding: 20px;
  text-align: center;
  align-content: center;
  width: 400px;
  display: inline-block;
}

.bio_container{
  padding: 10px;
}

.login_form_container input[type=text]{
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117, 0.2);
  border-radius:10px;
}

.login_form_container input[type=password]{
  padding-left: 10px;
  padding: 10px;
  border:0; 
  box-shadow:0 0 15px 4px rgba(58, 129, 117,.2); 
  border-radius:10px;
  
}

.sign_up_form_container input[type=text]{
  
}